.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .gallery img {
    border: 5px solid #5eb3bd;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 0px #00000033;
  }