h1 {
    padding-bottom: 20px;
}

p {
    padding-top: 0px;
}

/* ul {
    color: #464646;
    line-height: 24px;
    list-style: none;
    margin-top: 0;
    padding-left: 10px;
} */

.body {
    display: flex;
    /* display: grid;
    grid-template-columns: 65% 35%; */

}

.content {
    /* float: left; */
    max-width: 630px;
}

.sidebar {
    /* float: right; */
    border: 5px solid #5fb3bd;
    border-radius: 4px;
    height: 88%;
    max-width: 320px;
    margin-right: 10px;
    background-color: white;
}

.recent {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.news-title {
    color: #2f394e;
    display: block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 24px;
    padding: 0 20px;
}

.news-p {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0;
}


/* BEGIN MEDIA QUERIES */

/* begin small screen media query */

@media (max-width: 610px) {

    .body {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        max-width: 90%;
    }

    h1 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .sidebar {
        max-width: 90%;
        margin-right: 0;
    }

    .recent {
        font-size: 16px;
        margin-bottom: 0;

    }

    .recent-articles {
        display: flex;
        flex-direction: row;
    }

    .news-title {
        line-height: 22px;
        padding: 0 5px;
        margin: 5px;
        text-align: center;
    }

    .news-p {
        text-align: left;

    }

    p {
        padding-bottom: 10px;

    }

}

/* end small screen media query */

/* begin medium screen media query */

@media (min-width: 611px) and (max-width: 890px) {

    .body {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        max-width: 90%;
    }

    .sidebar {
        max-width: 90%;
        margin-right: 0;
    }

    .recent-articles {
        display: flex;
        flex-direction: row;
    }
}

/* end medium screen media query */

@media (min-width: 375px) and (max-width: 505px) {
    .recent-articles {
        flex-direction: column;
    }
}

/* begin large screen media query - or not */

@media (min-width: 901px) {}